@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/FuturaCyrillicMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Caprasimo';
    src: url('../assets/fonts/Caprasimo-Regular.ttf') format('truetype');
}

body {
    background-color: #b5c7d9;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    z-index:10;
}

.menu a {
    background-color: #527cc6;
    text-decoration: none;
    color: #f8ffe8;
    font-family: 'Caprasimo';
    font-size: 17px;
    padding: 10px 16px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #0b2545;
    box-shadow: 3px 3px 5px #0d1824;
}

.banner {
    position:absolute;
    z-index:-10;
    top:-50px;
}

p {
    font-family: 'Futura';
    color: #0d1824;
    font-size: 24px;
}

.slogan p {
    font-family: 'Caprasimo';
    color: #f8ffe8;
    text-shadow: 3px 3px 5px #0d1824;
    font-size: 36px;
    margin-left: 48px;
    z-index: 10;
}