@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/FuturaCyrillicMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Caprasimo';
    src: url('../assets/fonts/Caprasimo-Regular.ttf') format('truetype');
}

body {
    background-color: #f8ffe8;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    background-color: #f8ffe8;
}

.menu a {
    background-color: #527cc6;
    text-decoration: none;
    color: #f8ffe8;
    font-family: 'Caprasimo';
    font-size: 17px;
    padding: 10px 16px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #0b2545;
}

p {
    font-family: 'Futura';
    color: #0d1824;
    font-size: 24px;
}