@font-face {
    font-family: 'Futura';
    src: url('../assets/fonts/FuturaCyrillicMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'Caprasimo';
    src: url('../assets/fonts/Caprasimo-Regular.ttf') format('truetype');
}

body {
    background-color: #b5c7d9;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 40px;
    z-index:10;
}

.menu a {
    background-color: #527cc6;
    text-decoration: none;
    color: #f8ffe8;
    font-family: 'Caprasimo';
    font-size: 17px;
    padding: 10px 16px;
    margin-left: 10px;
    border-radius: 6px;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #0b2545;
    box-shadow: 3px 3px 5px #0d1824;
}

.banner {
    position:absolute;
    z-index:-10;
    top:-50px;
}

p {
    font-family: 'Futura';
    color: #0d1824;
    font-size: 24px;
}

h1 {
    font-family: 'Caprasimo';
    color: #0d1824;
    font-size: 36px;
}

.slogan p {
    font-family: 'Caprasimo';
    color: #f8ffe8;
    text-shadow: 3px 3px 5px #0d1824;
    font-size: 36px;
    margin-left: 48px;
    z-index: 10;
}

/* c#0d1824its to geeksforgeeks for the scrolling img gallery code
https://www.geeksforgeeks.org/css/how-to-create-an-image-gallery-with-a-horizontal-scrollbar-using-css/ */

.gallerybox {
    overflow-x: auto;
    width: 65vw;
    margin-left: 17.5vw;
}

.imgbox p {
    width: 350px;
    height: 350px;
    margin: 10px 20px 10px 20px;
    border-radius: 20px;
    border: transparent;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #f8ffe8;
    font-family: 'Caprasimo';
    background-color: #527cc6;
    -webkit-text-stroke: 8px #0d1824;
    paint-order: stroke fill;
    font-size: 32px;
    transition: 0.3s;
}

.imgbox img {
    width: 350px;
    height: 350px;
    margin: 10px 20px 10px 20px;
    border-radius: 20px;
    border: transparent;
    background-color: #f8ffe8;
    transition: 0.3s;
}

.imgbox img:hover {
    box-shadow: 6px 6px 10px #0d1824;
    transition: 0.3s;
}

.imgbox p:hover {
    box-shadow: 6px 6px 10px #0d1824;
    transition: 0.3s;
}

.imgbox {
    display: flex;
    flex-wrap: nowrap;
}

.gallerytitle {
    font-family: 'Caprasimo';
    text-align: center;
    padding: 50px 0px 20px 0px;
}

.linksection {
    width: 65%;
    height: 350px;
    margin-left: 17.5%;
    margin-top: 50px;
    background-color: #0b2545;
    transition: 0.3s;
}

.linksection:hover {
    box-shadow: 6px 6px 10px #0d1824;
    transition: 0.3s;
}

.linksection p {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    float: left;
    color: #f8ffe8;
    text-align: center;
}

.linksection img {
    width: 50%;
    height: 100%;
    float: left;
    object-fit: cover;
}

.aboutbox {
    margin-left: 15%;
    width: 70%;
    
}

.aboutbox .textbox {
    float: left;
    width: 50%;
    padding-top: 75px;
}

.aboutbox img {
    float: left;
    width: 50%;
    object-fit: cover;
    padding-top: 75px;
}

.contactbox {
    margin-left: 15%;
    width: 70%;
    
}

.contactbox .textbox {
    float: left;
    width: 50%;
    padding-top: 75px;
}

.contactbox img {
    float: left;
    width: 50%;
    object-fit: cover;
    padding-top: 75px;
}

.mapembed {
    width: 80%;
    margin-left: 10%;
    height: 400px;
    background-color: red;
    margin-top: 1500px;
}